:root {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    --clr-header-bg: #1A1A1A;
    --clr-header: #BBBBBB;
    --clr-header-hover: white;
    --clr-mobile-nav-bg: #1D1D1D;
    --clr-footer: #9A9A9A;

    --clr-body-bg: #262626;
    --clr-body: whitesmoke;
    --clr-card-bg: #2A2A2A;
    --clr-card-border: #3A3A3A;
    --clr-card-shadow: #1A1A1A;
    --clr-card-hover-shadow: black;
    --clr-blue: #6A77B1;
    --clr-green: #83B65B;
    --clr-red: #B14238;
    --clr-yellow: #C59660;

    --clr-hero-bg: #232323;
    --clr-tag-disabled-bg: #232323;
    --clr-card-image-bg: linear-gradient(70deg, var(--clr-blue) 15%, var(--clr-green) 75%);

    background-color: var(--clr-body-bg);
    color: var(--clr-body);
}

body {
    margin: 0;
}
header {
    background-color: var(--clr-header-bg);
}
header .navbar {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: calc(1300px + 2em);
}
header .navbar a {
    display: contents;
}
header .navbar img {
    padding: 14px;
    height: 20px;
}
header .navbar img:hover {
    filter: brightness(200%);
}
header .navbar button {
    border: none;
    background-color: transparent;
    width: 48px;
    padding: 18px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header .navbar button:hover span {
    background: var(--clr-header-hover);
}
header .navbar button span {
    display: block;
    height: 1px;
    width: 100%;
    background: var(--clr-header);
}
header nav {
    display: none;
    background-color: var(--clr-mobile-nav-bg);
}
header nav.extended {
    display: block;
    position: absolute;
    width: 100%;
    overflow: auto;
}

header ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
nav > ul > li > a {
    display: block;
    padding: 1em;
    color: var(--clr-header);
    font-size: .9em;
    text-decoration: none;
}
nav > ul > li > a:hover {
    color: var(--clr-header-hover);
}
footer {
    margin: 0 auto;
    padding: 0 1em 1em 1em;
    max-width: 1300px;
    color: var(--clr-footer);
    font-size: .9em;
}
footer hr {
    margin: 0 0 1em 0;
    border: none;
    border-top: 1px solid var(--clr-footer);
}
footer a {
    color: var(--clr-blue);
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}
.wrapper {
    margin: 0 auto;
    padding: 0 1em;
    max-width: 1300px;
}

.card {
    padding: 1.5em;
    border-radius: .5em;
    background-color: var(--clr-card-bg);
    box-shadow: var(--clr-card-shadow);
}
.card-border {
    border: 1px solid var(--clr-card-border);
}
.card h3 {
    margin-block-start: 0;
}
.card p {
    margin-block-end: 0;
}
.grid-5 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    gap: 1em;
}
.grid-4 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1em;
}
.grid-3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 1em;
}
.grid-2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 1em;
}

.home-card {
    margin-bottom: 1em;
    border-radius: .5em;
    color: inherit;
    background-color: var(--clr-card-bg);
    box-shadow: 0 0 .5em var(--clr-card-shadow);
    text-decoration: none;
}
.home-card-thumbnail {
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
    width: 100%;
    height: auto;
}
.home-card-content {
    padding: 2em;
}
.home-card-icon {
    position: relative;
    top: calc(-50px - 1em);
    left: -1.5em;
    height: 50px;
    width: 50px;
    background-color: var(--clr-card-bg);
    padding: 1.5em;
    border-radius: 50%;
    margin-bottom: calc(-50px - 2em);
}
.home-card-icon img {
    width: 100%;
}

.icon-card {
    margin-bottom: 1em;
    padding: 1.5em;
    border-radius: 1.5em;
    background-color: var(--clr-card-bg);
    box-shadow: 0 0 .5em var(--clr-card-shadow);
}
.icon-card-icon {
    height: 24px;
    width: 24px;
    padding: .75em;
    border: 1px solid var(--clr-card-border);
    border-radius: .5em;
}
.icon-card-icon img {
    width: 100%;
}

.horizontal-card {
    margin-bottom: 1em;
    padding: .5em;
    border-radius: 1.5em;
    background-color: var(--clr-card-bg);
    box-shadow: 0 0 .5em var(--clr-card-shadow);
}
.horizontal-card img {
    border-radius: 1.5em;
    width: 100%;
    max-height: 180px;
    object-fit: cover;
}
.horizontal-card-body {
    padding: .5em;
}
.horizontal-card-body small {
    color: var(--clr-blue);
}


.news-hero {
    margin-bottom: 1em;
    padding-block: 4em;
    background-color: var(--clr-hero-bg);
}
.news-hero h1 {
    margin: 0;
    font-weight: 600;
    font-size: 2.5em;
}
.news-hero p {
    margin-block-start: 8px;
    font-weight: 500;
    font-size: 1.25em;
}

.news a {
    color: var(--clr-body);
    text-decoration: none;
}
.news-card {
    margin-bottom: 1em;
    padding: 1em;
    border: 1px solid var(--clr-card-border);
    border-radius: .5em;
    background-color: var(--clr-card-bg);
    font-size: .9em;
    box-shadow: 0 0 .5em var(--clr-card-shadow);
}
.news-card:hover {
    box-shadow: 0 0 1em var(--clr-card-hover-shadow);
}
.news-card-thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
    padding: 1em;
    border-radius: .5em;
    background-color: var(--clr-tag-disabled-bg);
}
.news-card-thumbnail img {
    border-radius: .5em;
    max-height: 250px;
    max-width: 100%;
    height: auto;
    width: auto;
}
.news-card h2 {
    font-weight: 500;
}
.news-card-author {
    display: flex;
    align-items: center;
    column-gap: .5em;
}
.news-card-author img {
    height: 1em;
    width: 1em;
}
.news-card hr {
    margin: 1em 0;
    border: none;
    border-top: 1px solid var(--clr-card-border);
}
.news-card .tags {
    display: flex;
    flex-wrap: wrap;
    gap: .5em 1em;
}
.news-card .tag {
    padding: .4em .75em;
    border-radius: 999999px;
    background-color: var(--clr-tag-disabled-bg);
    font-size: .8em;
}

.hero-default {
    background-color: var(--clr-hero-bg);
    margin-block-end: 1em;
    padding-block: 4em;
}
.hero-default div {
    max-width: 1000px;
    text-align: center;
}
.hero-default h1 {
    margin-block: 0;
    font-size: 3em;
    font-weight: 350;
}
.hero-default p {
    font-size: 1.15em;
}

.section-center {
    background-color: var(--clr-hero-bg);
    margin-block: 1em;
    padding-block: 5em;
    text-align: center;
}
.section-center div {
    margin-inline: auto;
    max-width: 1000px;
}
.section-center h2 {
    margin-top: 0;
    font-size: 2em;
    font-weight: 300;
}
.section-center p {
    font-size: 1.2em;
}

.event-message {
    background-color: #ffffff11;
    padding: 2em 3em;
    margin-bottom: 1em;
    border-radius: .5em;
    box-shadow: 0 0 .5em var(--clr-card-shadow);
}
.event-message h2 {
    margin-top: 0;
}

.event-card {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    border-radius: .5em;
    background-color: var(--clr-card-bg);
    box-shadow: 0 0 .5em var(--clr-card-shadow);
}
.event-card-header {
    font-weight: 600;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
    padding: .75em;
    background-color: var(--clr-blue);
}
.event-card-header-susi {
    background-color: var(--clr-yellow);
}
.event-card-header-red {
    background-color: var(--clr-red);
}
.event-card-header-green {
    background-color: var(--clr-green);
}
.event-card-header > span {
    display: inline-block;
    padding: .25em .5em;
    border-radius: .25em;
    background-color: var(--clr-card-bg);
}
.event-card-body {
    padding: .75em;
    flex-grow: 1;
}
.event-card-tag {
    padding: .25em .75em;
    border-radius: .25em;
    font-size: smaller;
    font-weight: 500;
    background-color: var(--clr-card-border);
}
.event-card-footer :only-child {
    padding: 1em;
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em;
    color: var(--clr-blue);
    background-color: var(--clr-card-border);
    font-weight: 500;
}
.event-card-footer button {
    border: none;
    width: 100%;
    font: inherit;
}
.event-card-footer button:enabled {
    cursor: pointer;
}
.event-card-footer button:enabled:hover {
    text-decoration: underline;
}
.event-card-footer button:disabled {
    color: var(--clr-body-bg);
}
.event-card-footer a {
    display: block;
    text-align: center;
    text-decoration: none;
}
.event-card-footer a:hover {
    text-decoration: underline;
}

.service-card {
    margin-bottom: 1em;
    padding: 1em;
    border-radius: .5em;
    background-color: var(--clr-card-bg);
    box-shadow: 0 0 .5em var(--clr-card-shadow);
}
.service-card h2 {
    font-weight: 350;
}

.project-card {
    margin-bottom: 1em;
    padding: .5em;
    border-radius: 1.5em;
    background-color: var(--clr-card-bg);
    box-shadow: 0 0 .5em var(--clr-card-shadow);
}
.project-card img {
    border-radius: 1.5em;
    width: 100%;
    max-height: 180px;
    object-fit: cover;
}
.project-card-body {
    padding: 1em;
}
.project-card-body small {
    color: var(--clr-blue);
}
.project-card-body h2 {
    margin-block-start: 0;
    font-weight: 500;
}


.button-group {
    display: flex;
    gap: .5em;
}

.main-btn {
    display: inline-block;
    padding: 1em 2em;
    border-radius: .25em;
    background-color: var(--clr-body);
    color: var(--clr-card-bg);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
}
.main-btn:hover {
    background-color: var(--clr-header-hover);
}

.btn {
    display: inline-block;
    border: 2px transparent solid;
    border-radius: .5em;
    padding: .6em .8em;
    background-color: var(--clr-body);
    color: var(--clr-card-bg);
    text-align: center;
    text-decoration: none;
    font-weight: 600;
}
.btn:hover {
    background-color: var(--clr-header-hover);
}

.btn-outline {
    display: inline-block;
    border: 2px var(--clr-body) solid;
    border-radius: .5em;
    padding: .6em .8em;
    color: var(--clr-body);
    text-align: center;
    text-decoration: none;
    font-weight: 600;
}
.btn-outline:hover {
    color: var(--clr-header-hover);
    border-color: var(--clr-header-hover);
}

address {
    margin-bottom: 1em;
}
address a {
    color: var(--clr-blue);
    text-decoration: none;
}
address a:hover {
    text-decoration: underline;
}


@media (min-width: 720px) {
    header > div {
        display: flex;
        margin: 0 auto;
        max-width: calc(1300px + 2em);
    }
    header .navbar {
        display: contents;
    }
    header .navbar button {
        display: none;
    }
    header nav {
        display: contents;
        background-color: var(--clr-header-bg);
    }
    header nav.extended {
        position: static;
    }
    header ul {
        display: flex;
    }

    .news-card {
        display: flex;
        column-gap: 1em;
    }
    .news-card-thumbnail {
        flex: 0 0 calc(40% - .5em);
        box-sizing: border-box;
    }
    .news-card-body {
        flex: 0 0 calc(60% - .5em);
        box-sizing: border-box;
    }

    .service-card {
        padding: 2em;
    }

    .horizontal-card {
        display: flex;
        flex-direction: row-reverse;
        gap: 1em;
    }
    .horizontal-card img {
        max-height: 100%;
        max-width: 50%;
    }
}